<meta charset="UTF-8">


<p><strong>Fall  2018 schedule</strong></p>

<table class="table table-condensed table-striped">
  <colgroup>
    <col width="40%" />
    <col width="60%" />
  </colgroup>
  <thead>
    <tr>
      <th align="center" style="font-size:16px">Lectures</th>
      <th align="center" style="font-size:16px">Readings</th>
    </tr>
  </thead>
  <tbody>

    <tr>
      <td><strong>Week 1 Aug 20</strong></td>
      <td></td>
    </tr>
    <tr>
      <td>Lecture 1 (9/20, Mon):
<br>
	Introduction
      (<a href="lectures/Intro/intro.pdf">Coming soon</a>)
      </td>
      <td> No Reading
      </td>
    </tr>
        <tr>
      <td>  No Class (9/22, Wed)
      </td>
      <td> 
      </td>
	</tr>

	 <tr>
      <td><strong>Week 2 Aug 27</strong></td>
      <td></td>
    </tr>
    <tr>
      <td>Lecture 2 (8/27, Mon)<br> What assumptions do we make about our world, our data, our goals?
<br>
      </td>
      <td> <a href="https://arxiv.org/pdf/1609.07236.pdf">On the (Im)Possibility of Fairness</a><br> <a href="https://arxiv.org/abs/1104.3913"> Fairness through Awareness</a>
      </td>
    </tr>
        <tr>
      <td>  Lecture 3,  (8/29, Wed) <br> Legalese and (some very limited) historical context.
      </td>
      <td> 
      </td>
	</tr>


 <tr>
      <td><strong>Week 3 Sept 3</strong></td>
      <td></td>
    </tr>
    <tr>
      <td> No Class (9/3, Mon)
<br>
 
      </td>
      <td> 
      </td>
    </tr>
        <tr>
      <td>  Lecture 4,  (9/5, Wed)<br> Individual Fairness
      </td>
      <td> 
      </td>
	</tr>



	 <tr>
      <td><strong>Week 4 Sept 10</strong></td>
      <td></td>
    </tr>
    <tr>
      <td>No Class  (9/10, Mon)
      </td>
      <td> 
      </td>
    </tr>
        <tr>
      <td>  Lecture 5,  (9/12, Wed)<br> Group Fairness Measures
      </td>
      <td> 
      </td>
	</tr>


	
	 <tr>
      <td><strong>Week 5 Sept 17</strong></td>
      <td></td>
    </tr>
    <tr>
      <td>Lecture 6  (9/17, Mon)<br>  Interpolating between Individual and Group Fairness Measures
<br>

      </td>
      <td> 
      </td>
    </tr>
        <tr>
      <td>  No Class,  (9/19, Wed)
      </td>
      <td> 
      </td>
	</tr>


	
	 <tr>
      <td><strong>Week 6 Sept 24</strong></td>
      <td></td>
    </tr>
    <tr>
      <td>Lecture 7  (9/24, Mon)<br> What's wrong with classification, anyway?
<br>

      </td>
      <td> 
      </td>
    </tr>
        <tr>
      <td>  Lecture 8,  (9/26, Wed):<br> Fair Representations
      </td>
      <td> 
      </td>
	</tr>



	
	
	 <tr>
      <td><strong>Week 7 Oct 1</strong></td>
      <td></td>
    </tr>
    <tr>
      <td>Lecture 9  (10/1, Mon):  Is this data (un)fair? How should we "fix" it?
<br>

      </td>
      <td> 
      </td>
    </tr>
        <tr>
      <td>  Lecture 10,  (10/3, Wed)
      </td>
      <td> 
      </td>
	</tr>


		 <tr>
      <td><strong>Week 8 Oct 8</strong></td>
      <td></td>
    </tr>
    <tr>
      <td> No Class  (10/8, Mon):
<br>

      </td>
      <td> 
      </td>
    </tr>
        <tr>
      <td>  Lecture 11,  (10/11, Wed)
      </td>
      <td> 
      </td>
	</tr>


			 <tr>
      <td><strong>Week 9 Oct 15</strong></td>
      <td></td>
    </tr>
    <tr>
      <td> Lecture 12  (10/15, Mon):
<br>

      </td>
      <td> 
      </td>
    </tr>
        <tr>
      <td>  Lecture 13,  (10/18, Wed)
      </td>
      <td> 
      </td>
	</tr>


	
			 <tr>
      <td><strong>Week 10 Oct 22</strong></td>
      <td></td>
    </tr>
    <tr>
      <td> Lecture 14, (10/22, Mon):
<br>

      </td>
      <td> 
      </td>
    </tr>
        <tr>
      <td>  Lecture 15,  (10/24, Wed)
      </td>
      <td> 
      </td>
	</tr>



		 <tr>
      <td><strong>Week 11 Oct 29</strong></td>
      <td></td>
    </tr>
    <tr>
      <td> Lecture 16, (10/29, Mon):
<br>

      </td>
      <td> 
      </td>
    </tr>
        <tr>
	  <td>  Lecture 17,  (10/31, Wed)
	  </td>
	  <td> 🎃  </td>
	</tr>


		 <tr>
      <td><strong>Week 12 Nov 5</strong></td>
      <td></td>
    </tr>
    <tr>
      <td> Lecture 18  (11/5, Mon):
<br>

      </td>
      <td> 
      </td>
    </tr>
        <tr>
      <td>  Lecture 19,  (11/7, Wed)
      </td>
      <td> 
      </td>
    </tr>



		 <tr>
      <td><strong>Week 13 Nov 12</strong></td>
      <td></td>
    </tr>
    <tr>
      <td> Lecture 20  (11/12, Mon):
<br>

      </td>
      <td> 
      </td>
    </tr>
        <tr>
      <td>  Lecture 21,  (11/15, Wed)
      </td>
      <td> 
      </td>
    </tr>



		 <tr>
      <td><strong>Week 14 Nov 19</strong></td>
      <td></td>
    </tr>
    <tr>
      <td> Lecture 22  (11/12, Mon):
<br>

      </td>
      <td> 
      </td>
    </tr>
        <tr>
      <td>  No Class, Student Recess,  (11/19, Wed)
      </td>
      <td> 
      </td>
	</tr>


	
		 <tr>
      <td><strong>Week 15 Nov 26</strong></td>
      <td></td>
    </tr>
    <tr>
      <td> Lecture 23  (11/26, Mon):
<br>

      </td>
      <td> 
      </td>
    </tr>
        <tr>
      <td>  Lecture 24,  (11/28, Wed)
      </td>
      <td> 
      </td>
	</tr>



	
		 <tr>
      <td><strong>Week 16 (12/3, NIPS week)</strong></td>
      <td></td>
    </tr>
    <tr>
      <td> Perhaps no class? (12/3, Mon)
<br>

      </td>
      <td> 
      </td>
    </tr>
        <tr>
      <td> No Class, Reading Period (12/5, Wed)
      </td>
      <td> 
      </td>
	</tr>


	

	
		 <tr>
      <td><strong>Week 17 (12/10, Final Exams)</strong></td>
      <td></td>
    </tr>
       
  </tbody>
</table>
